# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# capacitor / native build artifacts
.api-stash
/ios/App/Pods
/ios/App/App/public
/android/app/src/main/assets/public
/android/.gradle
/android/app/build
/android/build
/android/capacitor-cordova-android-plugins
DerivedData
